body {
    margin: 0;
}

#pokemon_card {
    background-color: rgba(157, 8, 8, 0.761);
    min-height: 50vh;
    color: aliceblue;
}

.info_box {
    background-color: aliceblue;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    min-height: 100px;
    margin-top: -56px;
}

#pokemon_img {
    background-color: rgb(8, 157, 38);
}

.pokemon_card {
    margin: 8px;
}

.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(204, 208, 204);
    background: linear-gradient(90deg, rgba(234, 240, 234, 1) 60%, rgba(185, 189, 10, 0.6110644941570378) 94%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#eaf0ea", endColorstr="#b9bd0a", GradientType=1);
}

#all_pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bg-body-tertiary {
    background-color: #b74d57 !important;
}

#button_next_pokemon {
    display: flex;
    align-items: center;
}

#pokemon_name {}

.d-none {
    display: none;
}

.card_dashbord_full {
    background-color: #b74d57;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.card_dashbord_border {
    background-color: #5db74d;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    position: absolute;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_dashbord_card {
    background-color: aliceblue;
    height: 70%;
    width: 50%;
    border-radius: 16px;
}

.grass {
    background-color: #5db74d;
}

.fire {
    background-color: #5db74d;
}

.aqua {
    background-color: #5db74d;
}

.psyco {
    background-color: #5db74d;
}

.grass {
    background-color: #5db74d;
}

.grass {
    background-color: #5db74d;
}